TELEGRAM_BOT_TOKEN=07234567890:AAHdqTcvCH1vGWJxfSeofSAs0K5PALDsaw
DEVELOPER_CHAT_ID=123456789
BASE_URL=https://whatsapp-bot-v1-5.onrender.com
GITHUB_FALLBACK_URL=https://khldwnnsraljrady-collab.github.io/whatsapp-bot-v1/
